# ==============================================================================
# PROJECT CONFIGURATION: CLR Network Inference
# ==============================================================================

#project_name: "longsurvivors"
project_name: "immunerange"

# --- File Paths ---
# Use absolute paths or relative to project root
#input_file: "/mnt/c/Users/Davide/Desktop/Davide/bandi/0dottorato/projects/long survivors/DB_standardizzatov4.xlsx"
input_file: "/mnt/c/Users/Davide/Desktop/Davide/bandi/0dottorato/projects/Healthy_immune_range/DATABASE_LS_standardizzato.xlsx"

output_root: "results"

# # --- Groups & Cohorts ---
# cohorts:
#   NSCLC: "NSCLC"
#   HNSCC: "HNSCC"
#   Healthy: "Healthy_Donors"

# # Analysis Groupings
# control_group: "Healthy"
# case_groups: ["NSCLC", "HNSCC"]

# cohorts:
cohorts:
  DS_Duraclone: "DS_Duraclone"
  Healthy: "DS_Chiara"

# Analysis Groupings
control_group: "DS_Chiara"
case_groups: [DS_Duraclone]

marker_selection:
  whitelist: []      
  blacklist: [] #["PD1", "PD1CD4", "PD1CD8", "CD137CD8", "CD137PD1", "CD8"]       

  
hybrid_groups:
  Differentiation: ["CM", "EFF", "EM", "NAIVE"]
  Lineage: ["CD4", "CD8"]  

# --- Visuals ---
colors:
  Healthy: "#2E8B57"  # SeaGreen
  NSCLC: "#4682B4"    # SteelBlue
  HNSCC: "#CD5C5C"    # IndianRed

viz:
  min_edge_weight: 0.15 # Edges with absolute value less than this will be hidden

# --- Quality Control ---
qc:
  max_na_row_pct: 0.55  # Drop patients with NA percentage higher than this  
  max_na_col_pct: 0.20  # Drop markerswith NA percentage higher than this  

# --- Imputation (CoDa) ---
imputation:
  method: "czm_multrepl"      

# --- Inference Statistics ---
stats:
  seed: 2025
  n_boot: 1000        # Bootstrap iterations
  n_perm: 2000        # Permutation iterations
  alpha: 0.05         # Significance level
  fdr_threshold: 0.05 # BH Correction
  n_cores: "auto"     # "auto" uses detectCores() - 1
