# ==============================================================================
# PROJECT CONFIGURATION: CLR Network Inference
# ==============================================================================

# --- Setup ---

output_root: "results"

project_name: "longsurvivors"
input_file: "/mnt/c/Users/Davide/Desktop/Davide/bandi/0dottorato/projects/long survivors/DB_standardizzatov4.xlsx"
cohorts:
  NSCLC: "NSCLC"
  HNSCC: "HNSCC"
  Healthy: "Healthy_Donors"
# Analysis Groupings
control_group: "Healthy"
case_groups: ["NSCLC", "HNSCC"]

# project_name: "immunerange"
# input_file: "/mnt/c/Users/Davide/Desktop/Davide/bandi/0dottorato/projects/Healthy_immune_range/DATABASE_LS_standardizzato.xlsx"
# cohorts:
#   DS_Duraclone: "DS_Duraclone"
#   Healthy: "DS_Chiara"
# # Analysis Groupings
# control_group: "Healthy"
# case_groups: ["DS_Duraclone"]

marker_selection:
  whitelist: []      
  blacklist: [] #["PD1", "PD1CD4", "PD1CD8", "CD137CD8", "CD137PD1", "CD8"]       

  
hybrid_groups:
  Differentiation: ["CM", "EFF", "EM", "NAIVE"]
  Lineage: ["CD4", "CD8"]  
  Treg_Status: ["RESTING", "ACTIVE", "NON-SUPPRESSIVE"]
  
metadata:
  subgroup_col: "Original_Source"
  
# --- Visuals ---
colors:
  control: "#2E8B57"         # SeaGreen (assigned to control_group)
  cases: ["#CD5C5C", "#4682B4", "#9932CC", "#FF8C00"] # Assigned to case_groups in order
  highlight: "#FFD700"       # Gold (for subgroups matching highlight_pattern)
  Case: "#CD5C5C"           # Indian red Fallback

  heatmap:
    low: "#2166AC"    # Cool Blue
    mid: "#F7F7F7"    # White
    high: "#B2182B"   # Warm Red
  
  plsda:
    positive: "#CD5C5C" # Color for Positive Association
    negative: "#4682B4" # Color for Negative Association
    
  distribution:
    mean: "darkred"
    median: "black"
    
viz:
  min_edge_weight: 0.15 # Edges with absolute value less than this will be hidden
  heatmap_metadata: ["Group", "Original_Source"]
  merge_case_groups: false
  highlight_pattern: "_LS"

# --- Quality Control ---
qc:
  max_na_row_pct: 0.55  # Drop patients with NA percentage higher than this  
  max_na_col_pct: 0.20  # Drop markerswith NA percentage higher than this  

# --- Imputation (CoDa) ---
imputation:
  method: "czm_multrepl"      

# --- Multivariate & Interpretation ---
multivariate:
  run_plsda: true
  n_comp: 2           # Number of components for PLS-DA
  validation_folds: 5 # For cross-validation (if n samples allow)
  top_n_loadings: 15  # How many top markers to report in the summary

# --- Inference Statistics ---
stats:
  seed: 2025
  n_boot: 1000        # Bootstrap iterations
  n_perm: 2000        # Permutation iterations
  alpha: 0.05         # Significance level
  fdr_threshold: 0.1 # BH Correction
  n_cores: "auto"     # "auto" uses detectCores() - 1
